.button {
  background-color: white;
  border: 1px solid darkblue;
}
.button:not([disabled]):hover {
  color: white;
  background-color: darkblue;
}

@font-face {
  font-family: "Montserrat";
  src: url("/sass-practice/assets/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/sass-practice/assets/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}